.menu{
    background-color: #282c34;
    display : flex; 
    justify-content: flex-end;
    padding: 0;
    list-style: none;
    font-size: 20px;
}

.menu li{
    margin:0;
    margin-right: 20px;
}


.link{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.link:hover{
    color: rgba(255, 255, 143, 0.875);

}

.personal, .activity, .tool, .award{
    font-size: 20px;
}

.person{
    font-size: 20px;
    margin-top : 140px;
}

.photo-person{
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

.jisun{
    width : 200px;
    margin-top: 100px;
    margin-right: 50px;
}

.name{
    font-weight: bold;
}

.Channel{
    color:hotpink;
    text-decoration: none;
    font-weight: bold;
}
.Channel:hover{
    color:darkorchid;
}

.sentence{
    font-weight: bold;
    font-size: 20px;
}

.intro{
    margin-top:50px;
}

.title{
    font-weight:bold;
    font-size: 40px;
    margin-left: 30%;
    margin-bottom: 20px;
}

.Content{
    display: flex;
    margin-left: 30%;
}


.smalltitle{
    font-weight:500;
    text-align:left;
    margin-right: 10em;
}

.smalltitle, .content{
    letter-spacing : 1.5px;
    line-height: 2.5;
    
}

